<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <!--<add name="BaseSqlServer" connectionString="Data Source=DESKTOP-DHQSSD9;initial catalog=DataMARTCONDATOS; integrated security=True"
   providerName="System.Data.SqlClient" />-->
  <add name="SistemaCementerioIndicador.My.MySettings.Conec" connectionString="Data Source=DESKTOP-DHQSSD9;initial catalog=DataMARTCONDATOS; integrated security=True" />
 </connectionStrings>
</configuration>